#container {
    display: flex;
    align-content: center;
    border: 1px solid black;
    height: 500px;
}

#buttonContainer{
    margin-top: 20px;
}

#btn {
    margin-top: 50px;
}

.algoHeader {
    margin-top:50px;

}
.algoHeader button {
    width: 100px;
}

body {
    margin: 0 0 0 0;
    background-color: hsl(0, 0%, 90%);
}

#myRange {
    margin: auto;
    width: 50%;
}
